body{
    background-image: url(shibuya2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgba(252, 8, 8, 0.829);
    backdrop-filter: blur(3px) ;
}
#title{
    text-align: center;
    font-size: 3rem;
    color: white;
}